@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font: "Inter", sans-serif;
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #D8DFE8;
    --branco: #FFFFFF;
    --cor-texto-inf: #495057;
    --cor-texto-area: #343A40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--font);
    font-weight: 400;
    color: var(--cor-secundaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
}

main {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
}

.entrada-texto {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 25px;
    flex: 2;
}

textarea {
    text-transform: lowercase;
    font-size: 32px;
    line-height: 48px;
    padding: 20px;
    border: none;
    color: var(--cor-secundaria);
    border-radius: 20px;
}

.texto-area {
    background-color: var(--cor-primaria);
    border-radius: 20px;
    height: 55vh;
}

.texto-area:focus {
    outline: none;
}

::placeholder {
    color: var(--cor-secundaria);
    opacity: 20%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.botao {
    border: 1px solid var(--cor-terciaria);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    transition: all .3s ease-in-out;
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--branco);
    transition: all .3s ease-in-out;
}

.btn-encriptar {
    background-color: var(--cor-secundaria);
    color: var(--branco);
}

.informacao {
    font-size: 12px;
    margin: 20px 0;
    color: var(--cor-texto-inf);
    display: flex;
    align-items: center;
    gap: 8px;
}

.informacao::before {
    content: url(../images/vector.png);
    position: relative;
    transform: translateY(9%);
}

.mensagem {
    background-color: var(--branco);
    box-shadow: 0px 24px 32px -8px #00000014;
    background-image: url(../images/imgfundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 72vh;
    padding-bottom: 100px;
}

.mensagem:focus {
    outline: none;
}

.saida-texto {
    position: relative;
    flex: 1;
}

.btn-copiar {
    position: absolute;
    right: 10%;
    bottom: 25px;
    width: 80%;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    font-weight: 800;
}

@media (max-width: 600px) {

    .subtitulo {
        display: none;
    }

    .container {
        width: 85vw;
        margin: 0 auto;
    }

    .titulo {
        font-size: 7vw;
        line-height: 30px;
    }

    header {
        padding-top: 2vh;
        justify-content: flex-start;
        flex-direction: row;
        padding-bottom: 30px;
        gap: 30px;
    }

    main {
        flex-direction: column;
        gap: 40px;
    }

    .entrada-texto {
        margin-left: 0;
        flex: 1;
        width: 100%;
    }

    textarea {
        padding: 10px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 24px;
    }

    .btn-copiar {
        right: 10%;
    }

    .texto-area {
        height: 40vh;
        max-width: 100%;
    }

    .saida-texto {
        height: 40vh;
    }

    .informacao {
        margin: 20px 0 10px;
    }

    .mensagem {
        background-image: none;
        height: 30vh;
        width: 100%;
        padding-bottom: 90px;
    }

    footer {
        padding-top: 60px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    .container {
        width: 85vw;
        margin: 0 auto;
    }

    header {
        padding-top: 5vh;
        justify-content: space-between;
        gap: 40px;
    }

    .titulo {
        font-size: 20px;
        gap: 20px;
        text-align: center;
        line-height: 35px;
    }

    main {
        flex-direction: column;
        gap: 30px;
    }

    .entrada-texto {
        margin-left: 0;
        flex: 1;
        width: 100%;
        padding-top: 100px;
    }

    .saida-texto {
        width: 100%;
    }

    .mensagem {
        background-image: none;
        height: 30vh;
        width: 100%;
    }

    main {
        flex-direction: column;
        gap: 30px;
    }

    footer {
        padding-top: 60px;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {

    .container {
        width: 85vw;
        margin: 0 auto;
    }

    header {
        padding-top: 5vh;
        justify-content: space-between;
        gap: 40px;
    }

    .titulo {
        font-size: 26px;
        gap: 20px;
        line-height: 40px;
    }

    main {
        gap: 1vw;
    }

    .entrada-texto {
        margin: 0 2vw;
        gap: 0;
        padding-bottom: 25px;
        flex: 2;
        width: 100%;
    }

    .saida-texto {
        width: 100%;
    }

    .mensagem {
        width: 100%;
    }

    .btn-copiar {
        right: 26px;
        bottom: 25px;
        width: 80%;
    }
}