@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font: "Inter", sans-serif;
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #D8DFE8;
    --branco: #FFFFFF;
    --cor-texto-inf: #495057;
    --cor-texto-area: #343A40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--font);
    font-weight: 400;
    color: var(--cor-secundaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

main {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
}

.entrada-texto {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 25px;
}

textarea {
    text-transform: lowercase;
    font-size: 32px;
    line-height: 48px;
    padding: 20px;
    border: none;
    color: var(--cor-secundaria);
    border-radius: 32px;
}

.texto-area {
    background-color: var(--cor-primaria);
    border-radius: 20px;
}

.texto-area:focus {
    outline: none;
}

::placeholder {
    color: var(--cor-secundaria);
    opacity: 20%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.botao {
    border: 1px solid var(--cor-terciaria);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    transition: all .3s ease-in-out;
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--branco);
    transition: all .3s ease-in-out;
}

.informacao {
    font-size: 12px;
    margin: 20px 0;
    color: var(--cor-texto-inf);
    display: flex;
    align-items: center;
    gap: 8px;
}

.informacao::before {
    content: url(../images/vector.png);
    position: relative;
    transform: translateY(9%);
}

.mensagem {
    background-color: var(--branco);
    box-shadow: 0px 24px 32px -8px #00000014;
    background-image: url(../images/imgfundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 21vw;
    height: 70vh;
}

.mensagem:focus {
    outline: none;
}

.saida-texto {
    position: relative;
}

.btn-copiar {
    position: absolute;
    position: absolute;
    right: 38px;
    bottom: 25px;
    width: 80%;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: 800;
}